@charset "utf-8";
/* 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트(pretendard) */

/* 웹폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 전체 글자 크기 */
html {
  font-size: 10px;
}

body {
  /* 글자체 */
  font-family: "Pretendard", sans-serif;
}

html {
  overflow-x: hidden;
}

/* 공통 클래스 */
/* 임시표시타이틀 */
.temp-tit {
  position: absolute;
  font-size: min(3vmax, 43px);
  color: #ccc;
  width: 1740px;
  /* 최대가로크기를 100%로 설정하면 부모박스가 width 크기보다 작아질때
    100%채우기를 유지하게됨 */
  max-width: 100%;
  text-align: center;
  padding: 3vh 0;
  background-color: #c4c4c485;
}

/* 중앙속박스 */
.inbox {
  /* 최대가로크기 */
  max-width: 1740px;
  padding: 0 60px;
  /* 블록박스 중앙정렬 -> 마.영.오 */
  margin: 0 auto;
  box-sizing: border-box;
}

.type {
  display: inline-block;
  font-size: 14px;
  min-width: 100px;
  color: #525252;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  text-align: center;
  padding: 5px 14px;
  white-space: nowrap;
}

/* 화면출력 숨기기 클래스 */
.blind {
  display: none;
}
